.App {
  text-align: center;
}
.container{
  height: 60vh;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputText{
  display: inline-flex;
  margin: 0 auto;
  max-width: 60%;
  padding-right: .5rem;
}
.listItems{
  list-style-type: none;
}
.checkbox{
  display: flex;
  
  align-items: center;
}

.deleteButton {
  float:right;
  padding:8px 12px;
  border-radius: 6px;
  cursor: pointer;
  display: inline; /* Make sure the button is inline with the text */
}

.checkbox .inputText {
  text-decoration: line-through;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.todo-item.checkbox span {
  text-decoration: line-through;
}